@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-lexend: "Lexend Deca", sans-serif;
  --font-geist: "Geist", sans-serif;
}

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}

body {
  background-color: #f8f8f8;
}
